*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    background-image: url(Supermarket.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}
.bucko{
    align-items: center;
    justify-content: center;
   border: solid lightgray;
   border-width: 1px;
    display: flex;
    padding: 20px;
    border-radius:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
    font-size: smaller;
    background-color: white;
    
}
 .container1{
    width:fit-content;
    margin: auto;
    background-color: black;
 }
.container0{
    color: grey;
}